@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: #d6d6d6;
}
::-webkit-scrollbar-thumb {
  background: #a7a7a7;
}